name: publish-pypi

on:
  workflow_call:
    inputs:
      pypi_repository_url:
        required: true
        type: string
    secrets:
      pypi_api_login:
        required: true
      pypi_api_password:
        required: true

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment:
      name: pypi
      url: https://pypi.org/p/rstream
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: build with poetry
        env:
          REPO: ${{ inputs.pypi_repository_url }}
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          export PATH="/home/runner/.local/bin:$PATH"
          poetry config repositories.test-pypi $REPO
          poetry build
      # retrieve your distributions here
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          attestations: false


            
